body {
    background-color: rgb(208, 244, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.common {
    background-color: rgb(190, 231, 247);
    border: 2px solid white;
    position: absolute;
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    padding-right: 10px;
    border-bottom: solid 1px rgb(68, 114, 201);
}
.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 50px;
    padding-left: 10px;
    border-right: solid 1px rgb(68, 114, 201);
}

.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 20px;
    padding-top: 5px
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    padding-left: 10px;
    border-left: solid 1px rgb(68, 114, 201);
}
.footer {
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 25px;
    font-size: 8px;
    color: grey;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}
.subheader {
    float: right;
}