body {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 15px;
            color: steelblue;
            background-color: rgb(217, 244, 255);
        }
        li {
            font-size: 14px;
            font-style: italic;
            font-weight: normal;
        }
        a{
            color:rgb(64, 92, 165);
            text-decoration: none;
            font-weight: bold;

        }
a:hover {
    text-decoration: underline;
}
a:visited {
    color: rgb(142, 198, 159);}
.resumelistheading {
    font-weight: bold;
    font-style: normal;
}
.underline {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.justify {
    text-align: justify;
}
.homebg {
    background-image: url('../images/flower\ background.jpg');
    background-size: cover;
}

.box1 {
    border-width: 3px;
    border-style: solid;
    border-color: steelblue;
}
.box2 {
    padding: 5px;
}
.box3 {
    margin: 10px;
}
